<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}">
  <script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}" defer></script>
  <script src="/js/script.js" defer></script>
    <style>
        .dropdown-menu.show{
            position:absolute;
            left: -98px;
        }
    </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">ElectroZone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activePage == 'accueil' ? 'active' : ''}" th:href="@{/}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activePage == 'products' ? 'active' : ''}" aria-current="page" th:href="@{/products}">Produits</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-item">
                <a class="nav-link" th:classappend="${activePage == 'dashboard' ? 'active' : ''}" aria-current="page" th:href="@{/admin/products}">Dashboard</a>
            </li>
        </ul>
          <ul class="navbar-nav">
              <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                  <a sec:authentication="name" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                          <form style="display:flex;justify-content:center;" method="post" th:action="@{/logout}">
                              <button class="btn btn-danger">Se déconnecter</button>
                          </form>
                      </li>
                  </ul>
              </li>
              <li sec:authorize="isAnonymous()">
                  <a class="nav-link" th:classappend="${activePage == 'login' ? 'active' : ''}" th:href="@{/login}">Se connecter</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
  <main style="margin-top:37px" class="container" layout:fragment="content">

  </main>
</body>
</html>