<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="'ElectroZone | '+${product.name}"></title>
</head>
<body>
    <article layout:fragment="content" style="margin-top:94px" class="container mb-4">
        <h1 class="mb-4" th:text="${product.name}"></h1>
        <p><b>Prix: <span th:text="${product.formattedPrice}"></span></b></p>
        <p><b>Quantité en stock: <span th:text="${product.quantity}"></span></b></p>
        <h4 style="margin: 50px 0 22px 0;">description</h4>
        <div th:utext="${product.formattedDescription}"></div>
    </article>
</body>
</html>